<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		
		<targets>
			<target name="file" xsi:type="File" fileName="${c:\\temp\\nlog-all-${shortdate}.log}" />
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="message" layout="${message}" />
				<attribute name="controller" layout="${aspnet-MVC-Controller}" />
				<attribute name="action" layout="${aspnet-MVC-Action}" />
			</layout>
		</targets>

		<rules>
			<logger name="*" minlevel="Debug" writeTo="file" />
		</rules>
	</nlog>
</configuration>